
chromadb==0.5.5
deep-translator==1.11.4
exceptiongroup==1.2.2
faiss-cpu==1.7.4
fastapi==0.115.0
fastapi-cli==0.0.5
google-auth==2.34.0
googleapis-common-protos==1.65.0
greenlet==3.1.0
grpcio== 1.66.1
gTTS==2.5.3
Jinja2==3.1.4
joblib==1.4.2
kubernetes==30.1.0
langchain==0.3.0
langchain-community== 0.3.0
langchain-core==0.3.1
langchain-text-splitters==0.3.0
langid==1.1.6
ollama== 0.3.3
openai-whisper
pydantic== 2.9.2
pydantic_core==2.23.4
PyMuPDF==1.24.10
PyMuPDF==1.24.10
PyPDF2==3.0.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
sentence-transformers==2.2.2
sentencepiece==0.2.0
setuptools==72.1.0
tokenizers==0.19.1
tqdm==4.66.5
transformers== 4.44.2
uvicorn==0.30.6
websocket-client==1.8.0
websockets==13.0.1
